@clrFill: #004bcc;
@clrFillDark: #002666;
@clrFillLight: lighten(@clrFill, 55%);
@clrFillLightest: lighten(@clrFill, 58%);
@clrText: #505050;
//@clrText: @clrFillDark;
@clrLight: #c0c0c0;
@fntSizeFull: 12pt;
@fntSizeLarger: 14pt;
@fntSizeLargest: 17pt;
@fntSizeSmaller: 11pt;
@fntSizeHeaderLarge: 21pt;
@fntFamily: "San Francisco", Tahoma, sans-serif;

@bodyPadding: 10px;
@headerHeight: 48px;
@footerHeight: 32px;
@menuWidth: 220px;

.floatingBlock() {
  position: relative; float: left; box-sizing: border-box; width: 100%;
  height: auto; overflow-y: auto;
}

* { margin: 0; padding: 0; border: 0; }
div, p, h1, h2, h3, ul, ol, blockquote,
header, footer, main, article, section {
  .floatingBlock();
}
html { height: 100%; font-size: @fntSizeFull; font-family: @fntFamily; overflow-y: scroll; overflow-x: hidden; }
body { position: absolute; width: 100%; height: auto; min-height: 100%; color: @clrText; padding: @bodyPadding; box-sizing: border-box; }

i.img { display: inline-block; }
i.img.imgEnvelope:before {
  content: url("data:image/svg+xml; utf8, <svg version='1.1' style='fill: %23002666;' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 483.3 483.3'><path d='M424.3,57.75H59.1c-32.6,0-59.1,26.5-59.1,59.1v249.6c0,32.6,26.5,59.1,59.1,59.1h365.1c32.6,0,59.1-26.5,59.1-59.1 v-249.5C483.4,84.35,456.9,57.75,424.3,57.75z M456.4,366.45c0,17.7-14.4,32.1-32.1,32.1H59.1c-17.7,0-32.1-14.4-32.1-32.1v-249.5 c0-17.7,14.4-32.1,32.1-32.1h365.1c17.7,0,32.1,14.4,32.1,32.1v249.5H456.4z' /><path d='M304.8,238.55l118.2-106c5.5-5,6-13.5,1-19.1c-5-5.5-13.5-6-19.1-1l-163,146.3l-31.8-28.4c-0.1-0.1-0.2-0.2-0.2-0.3 c-0.7-0.7-1.4-1.3-2.2-1.9L78.3,112.35c-5.6-5-14.1-4.5-19.1,1.1c-5,5.6-4.5,14.1,1.1,19.1l119.6,106.9L60.8,350.95 c-5.4,5.1-5.7,13.6-0.6,19.1c2.7,2.8,6.3,4.3,9.9,4.3c3.3,0,6.6-1.2,9.2-3.6l120.9-113.1l32.8,29.3c2.6,2.3,5.8,3.4,9,3.4 c3.2,0,6.5-1.2,9-3.5l33.7-30.2l120.2,114.2c2.6,2.5,6,3.7,9.3,3.7c3.6,0,7.1-1.4,9.8-4.2c5.1-5.4,4.9-14-0.5-19.1L304.8,238.55z' /></svg>");
}
i.img.imgChat:before {
  content: url("data:image/svg+xml; utf8, <svg style='fill: %23002666;' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'><path d='m477 119.517h-66.5v-55c0-19.299-15.701-35-35-35h-239c-19.299 0-35 15.701-35 35v134h-66.5c-19.299 0-35 15.701-35 35v159c0 19.299 15.701 35 35 35h38v29.943c0 9.543 5.305 18.116 13.846 22.374 3.562 1.775 7.382 2.65 11.181 2.649 5.31 0 10.576-1.71 15.018-5.058l66.235-49.909h94.72c19.299 0 35-15.701 35-35v-44h23.72l66.234 49.909c4.444 3.349 9.708 5.059 15.019 5.058 3.798 0 7.621-.875 11.181-2.649 8.541-4.258 13.846-12.831 13.846-22.374v-29.943h38c19.299 0 35-15.701 35-35v-159c0-19.299-15.701-35-35-35zm5 194c0 2.757-2.243 5-5 5h-53c-8.284 0-15 6.716-15 15v34.915l-62.234-46.895c-2.601-1.96-5.77-3.021-9.027-3.021h-99.739c-2.757 0-5-2.243-5-5v-159c0-2.757 2.243-5 5-5h239c2.757 0 5 2.243 5 5zm-208 84h-99.739c-3.257 0-6.426 1.061-9.027 3.021l-62.234 46.894v-34.915c0-8.284-6.716-15-15-15h-53c-2.757 0-5-2.243-5-5v-159c0-2.757 2.243-5 5-5h168v85c0 19.299 15.701 35 35 35h41v44c0 2.756-2.243 5-5 5zm-137.5-338h239c2.757 0 5 2.243 5 5v55h-142.5c-19.299 0-35 15.701-35 35v44h-71.5v-134c0-2.757 2.243-5 5-5z' /></svg>");
}
i.img.imgPhoto:before {
  content: url("data:image/svg+xml; utf8, <svg style='fill: %23002666;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 49.438 49.438'><path d='M6.5,43.386h36.437c3.584,0,6.501-2.894,6.501-6.448V17.835c0-3.552-2.91-6.441-6.487-6.448 l0.05-0.001v-1.002c0.035-0.551-0.321-0.998-0.874-0.998h-3.5c-0.553,0-1,0.447-1,1v1h-1.293c-0.534-3.025-3.196-5.334-6.397-5.334 H19.5c-3.2,0-5.861,2.309-6.396,5.334H6.5c-3.584,0-6.5,2.893-6.5,6.449v19.103C0,40.492,2.916,43.386,6.5,43.386z M2.149,17.835 c0-2.371,1.952-4.299,4.351-4.299H13h2.149l0.167-2.15c0.501-1.828,2.178-3.184,4.184-3.184h10.437 c2.007,0,3.684,1.355,4.185,3.184l0.167,2.15h2.149h6.499c2.4,0,4.352,1.928,4.352,4.299v19.103c0,2.37-1.952,4.299-4.352,4.299 H6.5c-2.398,0-4.351-1.929-4.351-4.299V17.835z M18.238,13.052H31.05c0.449,0,0.812-0.363,0.812-0.812s-0.363-0.812-0.812-0.812 H18.238c-0.448,0-0.812,0.363-0.812,0.812S17.79,13.052,18.238,13.052z M24.72,39.378c6.689,0,12.132-5.442,12.132-12.132 c0-6.689-5.442-12.132-12.132-12.132s-12.132,5.442-12.132,12.132S18.03,39.378,24.72,39.378z M24.72,17.145 c5.57,0,10.101,4.531,10.101,10.102c0,5.57-4.531,10.102-10.101,10.102s-10.102-4.531-10.102-10.102S19.149,17.145,24.72,17.145z M18.326,27.923c0-4.023,3.272-7.295,7.295-7.295c0.374,0,0.677-0.303,0.677-0.677s-0.303-0.677-0.677-0.677 c-4.768,0-8.648,3.88-8.648,8.648c0,0.374,0.303,0.677,0.677,0.677C18.023,28.6,18.326,28.297,18.326,27.923z' /></svg>");
}
i.img.imgFile:before {
  content: url("data:image/svg+xml; utf8, <svg style='fill: %23002666;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 480 480'><path d='M416.992,69.816l-62.64-62.768C349.859,2.521,343.739-0.018,337.36,0H80C66.745,0,56,10.745,56,24v432     c0,13.255,10.745,24,24,24h320c13.255,0,24-10.745,24-24V86.768C424.018,80.409,421.495,74.306,416.992,69.816z M408,456     c0,4.418-3.582,8-8,8H80c-4.418,0-8-3.582-8-8V24c0-4.418,3.582-8,8-8h256v56c0,13.255,10.745,24,24,24h32V80h-32     c-4.418,0-8-3.582-8-8V27.344l53.664,53.776c1.502,1.495,2.343,3.529,2.336,5.648V456z' /><rect x='104' y='48' width='16' height='16' /><rect x='136' y='48' width='160' height='16' /><rect x='104' y='80' width='192' height='16' /><path d='M224,144H112c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h112c4.418,0,8-3.582,8-8v-80C232,147.582,228.418,144,224,144     z M216,224h-96v-64h96V224z' /><path d='M368,144H256c-4.418,0-8,3.582-8,8v80c0,4.418,3.582,8,8,8h112c4.418,0,8-3.582,8-8v-80C376,147.582,372.418,144,368,144     z M360,224h-96v-64h96V224z' /><rect x='136' y='272' width='96' height='16' /><rect x='248' y='272' width='16' height='16' /><rect x='280' y='272' width='96' height='16' /><rect x='104' y='320' width='128' height='16' /><rect x='104' y='368' width='128' height='16' /><rect x='104' y='416' width='128' height='16' /><rect x='248' y='368' width='128' height='16' /><rect x='248' y='416' width='128' height='16' /><rect x='248' y='320' width='128' height='16' /></svg>");
}
i.img.imgAbout:before {
  content: url("data:image/svg+xml; utf8, <svg style='fill: %23002666;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 511.999 511.999'><path d='M511.939,330.321c-0.638-11.442-6.281-21.921-15.485-28.749c-14.891-11.05-35.555-9.898-49.128,2.742l-82.559,76.887    c0.503-16.916-10.616-31.846-27.269-36.071L236.67,319.539c-17.682-4.489-36.196-3.883-53.548,1.751l-69.703,22.63v-20.057    c0-5.522-4.478-9.999-9.999-9.999H9.999c-5.522,0-9.999,4.478-9.999,9.999V501.98c0,5.522,4.478,9.999,9.999,9.999h93.422    c5.522,0,9.999-4.478,9.999-9.999V364.947l75.878-24.635c13.757-4.468,28.437-4.946,42.453-1.39l100.829,25.591    c7.831,1.988,12.933,9.266,12.13,17.308c-0.83,8.314-7.758,14.585-16.114,14.585h-70.282c-5.522,0-9.999,4.478-9.999,9.999    c0,5.522,4.478,9.999,9.999,9.999h21.542c0.376,0.043,0.757,0.07,1.145,0.07h49.589c16.54,0,32.315-6.209,44.421-17.481    l85.947-80.044c6.515-6.068,16.434-6.62,23.584-1.316c4.418,3.277,7.126,8.307,7.432,13.8c0.307,5.493-1.828,10.792-5.854,14.541    L367.72,456.194c-8.167,7.602-18.811,11.789-29.968,11.789H182.796c-5.522,0-9.999,4.478-9.999,9.999    c0,5.522,4.478,9.999,9.999,9.999h154.958c16.23,0,31.712-6.091,43.594-17.15l118.397-110.22    C508.132,352.803,512.577,341.763,511.939,330.321z M93.422,491.981H19.998V333.863h73.423V491.981z' /><path d='M149.518,470.913c-1.87-1.861-4.44-2.93-7.069-2.93c-2.641,0-5.21,1.069-7.079,2.93c-1.86,1.86-2.93,4.44-2.93,7.069    s1.069,5.21,2.93,7.068c1.87,1.86,4.439,2.931,7.079,2.931c2.63,0,5.2-1.07,7.069-2.931c1.859-1.859,2.93-4.439,2.93-7.068    S151.378,472.773,149.518,470.913z' /><path d='M63.776,460.584c-1.851-1.86-4.431-2.93-7.06-2.93c-2.64,0-5.22,1.06-7.079,2.93c-1.859,1.86-2.92,4.431-2.92,7.069    c0,2.63,1.061,5.21,2.92,7.069c1.87,1.859,4.44,2.93,7.079,2.93c2.63,0,5.2-1.07,7.06-2.93c1.869-1.86,2.939-4.44,2.939-7.069    C66.715,465.013,65.645,462.444,63.776,460.584z' /><path d='M255.98,0.02c-49.622,0-89.993,40.371-89.993,89.993c0,16.541,13.457,29.998,29.998,29.998s29.998-13.457,29.998-29.998    s13.457-29.998,29.998-29.998c16.541,0,29.998,13.457,29.998,29.998s-13.457,29.998-29.998,29.998    c-16.541,0-29.998,13.457-29.998,29.998v42.997c0,16.541,13.457,29.998,29.998,29.998c16.541,0,29.998-13.457,29.998-29.998    V174.87c35.69-12.598,59.995-46.446,59.995-84.857C345.973,40.39,305.602,0.02,255.98,0.02z M273.478,157.794    c-4.415,1.14-7.498,5.123-7.498,9.681v25.529c0,5.514-4.486,9.999-9.999,9.999c-5.514,0-9.999-4.486-9.999-9.999v-42.997    c0-5.514,4.486-9.999,9.999-9.999c27.568,0,49.996-22.428,49.996-49.996c0-27.568-22.428-49.996-49.996-49.996    c-27.568,0-49.996,22.428-49.996,49.996c0,5.514-4.486,9.999-9.999,9.999c-5.514,0-9.999-4.486-9.999-9.999    c0-38.595,31.399-69.995,69.995-69.995c38.596,0,69.995,31.4,69.995,69.995C325.975,121.937,304.387,149.81,273.478,157.794z' /><path d='M277.199,254.926c-5.576-5.592-13.31-8.798-21.219-8.798c-7.908,0-15.643,3.207-21.2,8.779    c-5.591,5.576-8.797,13.31-8.797,21.218s3.207,15.643,8.787,21.209c5.586,5.586,13.316,8.788,21.21,8.788    c7.895,0,15.626-3.204,21.209-8.788c5.586-5.586,8.788-13.316,8.788-21.209C285.978,268.232,282.775,260.501,277.199,254.926z     M263.046,283.194c-1.834,1.835-4.477,2.931-7.066,2.931c-2.59,0-5.234-1.096-7.078-2.94c-1.829-1.824-2.921-4.464-2.921-7.059    c0-2.635,1.064-5.208,2.939-7.077c1.825-1.829,4.465-2.922,7.06-2.922c2.596,0,5.234,1.092,7.067,2.932    c1.836,1.834,2.932,4.477,2.932,7.067C265.979,278.716,264.883,281.358,263.046,283.194z' /><path d='M56.711,354.49c-5.522,0-9.999,4.478-9.999,9.999v63.497c0,5.522,4.477,9.999,9.999,9.999    c5.522,0,9.999-4.478,9.999-9.999v-63.497C66.71,358.968,62.232,354.49,56.711,354.49z' /></svg>");
}
i.img.imgSearch:before {
  content: url("data:image/svg+xml; utf8, <svg style='fill: %23002666;' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 28.931 28.932' ><path d='M28.344,25.518l-6.114-6.115c1.486-2.067,2.303-4.537,2.303-7.137c0-3.275-1.275-6.355-3.594-8.672 C18.625,1.278,15.543,0,12.266,0C8.99,0,5.909,1.275,3.593,3.594C1.277,5.909,0.001,8.99,0.001,12.266 c0,3.276,1.275,6.356,3.592,8.674c2.316,2.316,5.396,3.594,8.673,3.594c2.599,0,5.067-0.813,7.136-2.303l6.114,6.115 c0.392,0.391,0.902,0.586,1.414,0.586c0.513,0,1.024-0.195,1.414-0.586C29.125,27.564,29.125,26.299,28.344,25.518z M6.422,18.111 c-1.562-1.562-2.421-3.639-2.421-5.846S4.86,7.983,6.422,6.421c1.561-1.562,3.636-2.422,5.844-2.422s4.284,0.86,5.845,2.422 c1.562,1.562,2.422,3.638,2.422,5.845s-0.859,4.283-2.422,5.846c-1.562,1.562-3.636,2.42-5.845,2.42S7.981,19.672,6.422,18.111z' /></svg>");
}

header.page {
  background-color: @clrFill; color: white; padding: 5px 10px; height: @headerHeight;
  h1 { font-size: @fntSizeHeaderLarge; font-weight: bold; display: inline-block; width: auto;
    a { text-decoration: none; color: inherit; }
  }
  p.tagline { font-size: @fntSizeSmaller; display: inline-block; padding-top: 10px; margin-left: 20px; width: auto; }
}

footer.page {
  text-align: center; padding-top: 0px; height: @footerHeight; position: absolute; bottom: 0;
  small { font-size: @fntSizeSmaller; }
}

nav.page {
  .floatingBlock(); position: absolute; width: @menuWidth; top: @headerHeight + 2 * @bodyPadding; z-index: 1;
  border-right: 1px solid @clrLight; padding-right: @bodyPadding; min-height: 50%;
  a {
    .floatingBlock();
    text-decoration: none; color: @clrFillDark; font-size: @fntSizeLarger;
    padding: @bodyPadding;
    &:hover { background-color: @clrFillLightest; }
    &.selected { background-color: @clrFillLight; }
  }
  .img { width: 28px; height: 28px; }
  label { display: inline-block; vertical-align: top; margin: 2px 0 0 10px; cursor: inherit; }
}

section.page {
  padding-left: @menuWidth + @bodyPadding; padding-bottom: @footerHeight; margin-top: @bodyPadding;
}

.messageList .items {
  list-style-type: none;
  li {
    .floatingBlock();
    border-top: 1px solid @clrLight; padding: @bodyPadding 0; height: auto;
    &:first-child { border-top: none; }
  }
  a {
    .floatingBlock(); margin-bottom: 4px; width: auto; clear: both;
    font-weight: bold; text-decoration: none; color: @clrFillDark;
  }
  p.details { margin-top: 6px; font-size: @fntSizeSmaller; color: #606060; }
  span.author { font-weight: bold; }
}

header.list {
  padding: 0 0 10px 0; margin-bottom: 20px;
  nav {
    .floatingBlock(); width: auto; position: absolute; right: 0; top: 0;
    span, a {
      display: inline-block; padding: 0 8px 3px 8px; font-size: @fntSizeLarger;
      &.selected { background-color: @clrFillLight; }
    }
    a {
      color: @clrFillDark; text-decoration: none;
      &:hover { background-color: @clrFillLightest; }
    }
    span { color: @clrText; cursor: default; }
  }
  .search {
    width: 30%; background-color: @clrFillLightest; height: 28px; margin: 0 0 0 20px;
    border-bottom: 1px solid @clrFillDark;
    input {
      display: block; font-family: inherit; color: inherit; font-size: inherit; background-color: inherit;
      padding: 3px 30px 0 10px; width: 100%; box-sizing: border-box;
    }
    #btnSearch { 
      width: 20px; height: 20px; display: block; position: absolute; right: 3px; top: 3px; cursor: pointer;
    }
  }
}

label.navCrumb {
  .floatingBlock(); width: auto;
  font-size: @fntSizeLargest; font-weight: bold;
  color: @clrFillDark; text-transform: uppercase;
}
